<template>
  <div id="root-map" class="mx-auto">
    <l-map
      :zoom="zoom"
      :center="[centerLat, centerLong]"
    >
      <l-tile-layer
        url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      ></l-tile-layer>

      <l-marker v-for="(cord,index) in cordMark" :key="index" :lat-lng="cord">
        <l-icon :icon-url="resultMark[index]" icon-size="[25,40]" />
        <l-tooltip>
          {{titreMark[index]}}
        </l-tooltip>
      </l-marker>
    </l-map>
  </div>
</template>
<script>
import {
  LMap,
  LTileLayer,
  LMarker,
  LTooltip,
  LIcon
} from "@vue-leaflet/vue-leaflet";
import "leaflet/dist/leaflet.css";
import {reactive, toRefs, watch} from "vue";
import right from "@/assets/right.svg";
import wrong from "@/assets/wrong.svg";

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LTooltip,
    LIcon
  },
  props:{
    markers: Array
  },
  setup(props){
    const state = reactive({
      zoom: 10,
      centerLat: 48.8606,
      centerLong: 2.3471,
      cordMark: [[0,0], [0,1], [0,2], [0,3], [0,4]],
      titreMark: ["0","1","2","3","4"],
      resultMark: [null,null,null,null,null]
    });
    watch(() =>{
      props.markers.map(({lat,lon,titre, index, correct})=>{
        state.cordMark[index][0] = lon;
        state.cordMark[index][1] = lat;
        state.titreMark[index] = titre;
        state.resultMark[index] = correct?right:wrong;
        index === 4? state.zoom=12: state.zoom++;
      });

    })
    return{
      ...toRefs(state)
    }
  }
};
</script>

<style scoped>
#root-map{
    height: 65vh;
    width: 65vw;
}
</style>