<template>
  <article class="p-5">
    <h1>Question {{num}}</h1>
    <p>{{resume}}</p>
    <article  class="w-1/2 mx-auto pt-5 flex flex-row items-center justify-evenly content-center">
      <button @click="handleAnswer(good)" class="px-5 py-2 bg-gray-500">{{good}}</button>
      <button @click="handleAnswer(bad)" class="px-5 py-2 bg-gray-500">{{bad}}</button>
    </article>
  </article>
</template>

<script>
export default {
  props: {
    num: Number,
    good: String,
    bad: String,
    resume: String
  },
  setup(props, {emit}){
      const handleAnswer = (ans) => {
        if(ans === props.good){
          emit("correct")
        }else{
          emit("wrong")
        }
      }
      return {
        handleAnswer
      }
  }
}
</script>

<style scoped>

</style>