<template>
  <section class="w-4/5 mx-auto flex flex-col items-center justify-start text-center text-white">
    <article v-if="!isStarted">
      <button class="mx-auto mt-6 p-5" @click="handleStart">Start Quiz</button>
    </article>
    <article v-else class="flex flex-col overflow-auto">
      <Question class="bg-gray-800" :num="currentQuestion['num']" :good="currentQuestion['bonTitre']" :bad="currentQuestion['mauvaisTitre']" :resume="currentQuestion['resume']" @correct="handleQuestion(currentQuestion['bonTitre'], true)" @wrong="handleQuestion(currentQuestion['bonTitre'], false)"/>
      <button class="mx-auto mt-6 p-5" @click="handleEnd">Quit Quiz</button>
    </article>
  </section>
</template>

<script>
import Films from "@/assets/films.json";
import Question from "@/components/Question";
import { ref } from "vue";

function get_random(list, exclud = null) {
  let res = [];
  let elem;

  while(res.length < 5){
    elem = list[Math.floor((Math.random()*list.length))];
    if(!res.includes(elem)){
      if(exclud && !exclud.includes(elem)){
        res.push(elem);
      }else if(!exclud){
        res.push(elem);
      }
    }
  }
  return res;
}
export default {
    components: {
      Question
    },
    setup(props, {emit}){
        const bonneRep = ref([])
        const mauvaiseRep = ref([]);
        const reponses = ref({});
        const isStarted = ref(false);
        const nbAnswered = ref(0);
        const currentQuestion = ref({})

        const handleQuestion = (titre, resultat) => {
          const film = bonneRep.value.filter((film)=> film['titre'] === titre)[0];
          emit("answer", {"film":film, "resultat":resultat, "index":bonneRep.value.indexOf(film)});
          reponses.value[titre] = resultat;
          nbAnswered.value++;
          if(nbAnswered.value === 5){
            handleEnd();
          }else{
            currentQuestion.value = {
              "bonTitre": bonneRep.value[nbAnswered.value]['titre'],
              "mauvaisTitre": mauvaiseRep.value[nbAnswered.value]['titre'],
              "resume": bonneRep.value[nbAnswered.value]['resume'],
              "num": nbAnswered.value +1
            }
          }
        }

        const handleEnd = () =>{
          const win = Array.from(Object.values(reponses.value)).reduce(function(acc, el){return(acc || el)}, false );
          if(nbAnswered.value === 5) alert(`partie finie, vous avez ${win?"gagné.e":"perdu.e"}!`)
          nbAnswered.value = 0;
          isStarted.value = false;
        }

        const handleStart = () =>{
          bonneRep.value = get_random(Films);
          mauvaiseRep.value = get_random(Films, bonneRep.value);
          bonneRep.value.map((el) =>{
            reponses[el['titre']] = null;
          })
          nbAnswered.value = 0;
          currentQuestion.value = {
            "bonTitre": bonneRep.value[0]['titre'],
            "mauvaisTitre": mauvaiseRep.value[0]['titre'],
            "resume": bonneRep.value[0]['resume'],
            "num": nbAnswered.value +1
          }
          isStarted.value = true;
          emit("start");
        }

        return {
            bonneRep,
            mauvaiseRep,
            isStarted,
            currentQuestion,
            nbAnswered,
            handleQuestion,
            handleStart,
            handleEnd
        }
    }
}
</script>

<style scoped>
li{
  color: white;
  background-color: black;
}
button{
  background-color: red;
}
</style>