<template>
  <header class="flex flex-col items-center">
    <Title/>
    <p class="py-5 text-white">This is a quiz about cinema and french cities. You will have to guess a movie from the name of the city where it take place.</p>
  </header>
  <main class="w-screen" tabindex="-1">
    <Map v-if="marquers.length === 5" :markers="marquers"/>
    <Quiz @answer="handleAnswer" @start="handleReset"/>
  </main>
</template>
<script>
  import Title from "@/components/Title.vue";
  import Map from "@/components/Map.vue";
  import Quiz from "@/components/Quiz.vue";
  import {ref} from "vue";
  export default {
  components: { 
    Title, 
    Map,
    Quiz
  },
  setup() {
    const marquers = ref([]);
    const handleAnswer = ({film, resultat, index}) =>{
      const filmData = {"lat": film["posLat"], "lon":film["posLon"], "titre":film["titre"], "index": index, "correct": resultat};
      marquers.value.push(filmData);
    }

    const handleReset = () =>{
      marquers.value = [];
    }
    return {
      handleAnswer,
      handleReset,
      marquers,
    }
  }
}
</script>

<style lang="postcss">
#app {
  @apply flex flex-col flex-nowrap h-screen justify-start font-serif;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
} 
</style>